<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Price Calculator</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Price Calculator</h1>
            <form th:method="POST" th:action="${action}" th:object="${inputFormViewModel}">
                <div class="form-group">
                    <select class="form-control" th:field="*{productId}" id="dropOperator">
                        <option value="0" th:text="|Select product|"></option>
                        <option th:each="option : ${viewModel.optionList}"
                                th:value="${option.value}"
                                th:text="${option.text}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberOfPackages">Number of packages</label>
                    <input type="input" class="form-control" id="numberOfPackages" name="numberOfPackages"
                           placeholder="Packages" th:value="*{numberOfPackages}"/>
                </div>
                <div class="form-group">
                    <label for="numberOfUnits">Number of units</label>
                    <input type="input" class="form-control" id="numberOfUnits" name="numberOfUnits"
                           placeholder="Units" th:value="*{numberOfUnits}"/>
                </div>
                <button type="submit" class="btn btn-default">Calculate</button>
            </form>
            <div th:if="${viewModel.displaySelectedProduct != null}">
                <table class="table table--striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${viewModel.selectedProductName}">Product name</td>
                        <td th:text="${viewModel.selectedTotalUnits}">10</td>
                        <td th:text="${viewModel.total}">250.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>